/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


mx|Application
{
	backgroundColor: #E6E6E6; 
}

.logo
{
	upSkin: Embed(source="logo.gif");
	downSkin: Embed(source="logo.gif");
	overSkin: Embed(source="logo.gif");
	disabledSkin: Embed(source="logo.gif");	
}

.ad
{
	upSkin: Embed(source="422.gif");
	downSkin: Embed(source="422.gif");
	overSkin: Embed(source="422.gif");
	disabledSkin: Embed(source="422.gif");	
}